<?xml version="1.0"?>
<!-- Launch the simulator, consensus module and three turtle controllers. -->
<launch>
  <node name="sdl" type="sdl-turtle" pkg="sdl_turtle" output="screen" />

  <node name="world" type="world.py" pkg="at_world" />

  <node name="car" type="agent.py" pkg="control_logic" args="--agent-type car" />
  <node name="grandpa" type="agent.py" pkg="control_logic" args="--max-velocity 2 --max-acceleration 5" />
  <node name="he_that_turns_slowly" type="agent.py" pkg="control_logic" args="--max-velocity 250 --max-theta-acceleration 5" />
</launch>
